<div class="container">
  <div class="title">Sign Up</div>
  <form class="form" [formGroup]='form' (ngSubmit)='onSubmit()'>
    <mat-form-field class="form-field">
      <mat-label>First Name</mat-label>
      <input matInput type='text' formControlName='firstname'>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Last Name</mat-label>
      <input matInput type='text' formControlName='lastname'>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Email</mat-label>
      <input matInput type='text' formControlName='email'>
      <mat-error>
        {{ form.get('email')?.hasError('required') ? 'Email is required' : ''}}
        {{ form.get('email')?.hasError('email') ? 'Email is not valid' : ''}}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName='password'>
      <mat-error>
        {{ form.get('password')?.hasError('minlength') ? 'Min length is 6 characters' : ''}}
        {{ form.get('password')?.hasError('required') ? 'Password is required' : ''}}
      </mat-error>
    </mat-form-field>
    <mat-checkbox formControlName='agree'>Agree to <a class='link' routerLink='/'>Terms and Conditions</a>.
    </mat-checkbox>
    <div class="submit">
      <button type="submit" [disabled]='form.invalid' color='primary' mat-raised-button>Submit</button>
    </div>
  </form>
</div>
